@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  background-color: #111111;
  position: relative;
  overflow-x: hidden;
  color: #fff;
}

p {
  font-size: 1vw;
}

body::before {
  content: "";
  background-color: #8BECE2;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0;
  left: -5vw;
  display: block;
  border-radius: 50%;
  filter: blur(8vw);
}

body::after {
  content: "";
  background-color: #8BECE2;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0;
  right: -5vw;
  display: block;
  border-radius: 50%;
  filter: blur(8vw);
}


.animation {
  transition: all 1s ease-in-out;
}

.grid_border {
  background-image: linear-gradient(to bottom, #8EF0E7, #4AF5B6, #000000);
  padding: 1px;
}


#scroll_none::-webkit-scrollbar {
  display: none;
}

.scroll_none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}